.orders {
  padding: 1rem;
  background-color: rgb(31, 31, 31);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}
.orders-labels {
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 0.25 rem;
  margin: 1rem 0;
}
.orders-labels label {
  color: white;
}
.button-headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
}
.button-headers button {
  border-radius: 12px;
  padding: 10px;
  background-color: black;
  color: white;
  margin: 5px;
  font-weight: bold;
}
.button-headers button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
